ASLAI_APP_NAME=ASLAI API
ASLAI_APP_VERSION=0.1.0
ASLAI_API_PREFIX=/api
ASLAI_ENABLE_TTS=true
ASLAI_ENABLE_LLM_CORRECTION=false
ASLAI_MAX_DYNAMIC_FRAMES=60
ASLAI_SEQUENCE_LENGTH=30
ASLAI_MINIMUM_DYNAMIC_FRAMES=5
ASLAI_STATIC_CONFIDENCE_THRESHOLD=0.75
ASLAI_MODEL_ARTIFACTS_DIR=../shared_models
ASLAI_HAND_LANDMARKER_TASK_PATH=../shared_models/hand_landmarker.task
ASLAI_HAND_LANDMARKER_TASK_URL=https://storage.googleapis.com/mediapipe-models/hand_landmarker/hand_landmarker/float16/1/hand_landmarker.task
ASLAI_POSE_LANDMARKER_TASK_PATH=../shared_models/pose_landmarker_lite.task
ASLAI_POSE_LANDMARKER_TASK_URL=https://storage.googleapis.com/mediapipe-models/pose_landmarker/pose_landmarker_lite/float16/1/pose_landmarker_lite.task
